@media (max-width: @screen-xs-max) {
    #pokemonDetailsCardContainer {
        border: 1px solid black;
        padding: 16px 2px;
        height: 100%;
        min-height: 820px;
    }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Contents area */

#PokedexContentsArea {
    border: 2px solid black;
    padding: 8px 16px;
}

/*pokedex cards wrapper*/

#PokedexCardsWrapper {
    /*display: table;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display:  flex;
    /*flex-wrap: wrap;
    -webkit-flex-wrap: wrap;*/
}

/* Pokedex heading */
#PokedexHeading {
    text-align: center;
    border: 1px solid black;
    max-width: 330px;
    margin: 16px auto;
}

/* Cards container for pokemons */
#pokemonCardsContainer {
    border: 1px solid black;
    padding: 16px 16px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    /*height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
    width: auto;*/
}

/* Card for pokemons */
.pokemonCard,.pokemonImageWrapper {
    border: 1px solid black;
    padding: 8px;
}

div.pokemonCard {
    padding: 8px;
    margin: 0px 8px 8px;
    box-sizing: border-box;
    max-width: 115px;
    min-height: 174px;
}

div.pokemonCardBody {
    width: auto;
    padding-bottom: 2px;
}

h5.pokemonCardHeading {
    font-weight: 700;
    margin: 8px auto;
    text-align: center;
}

span.pokemonTypes {
    max-width: 49px;
    height: 22px;
    border-radius: 4px;
    border: 2px ridge #b9bebe;
    color: white;
    padding: 1px;
    box-sizing: border-box;
}

.normal {
    background-color: #A8A878;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.ice {
    background-color: #98D8D8;
}

.fighting {
    background-color: #C03028;
}

.grass {
    background-color: #78C850;
}

.poison {
    background-color: #A040A0;
}

.electric {
    background-color: #F8D030;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.psychic {
    background-color: #F85888;
}

.rock {
    background-color: #B8A038;
}

.bug {
    background-color: #A8B820;
}

.ghost {
    background-color: #705898;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #FF99CC;
}

/* load more button*/
#LoadMore {
    margin-top: 36px;
}


/* Pokemon detail card */
#pokemonDetailsCardContainer {
    border: 1px solid black;
    padding: 16px 2px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    /*height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
    width: auto;*/
}

#pokemonDetailsCardWrapper, #pokemonDetailsCardImageWrapper {
    border: 1px solid black;
}

#pokemonDetailsCardWrapper {
    padding: 8px;
    margin: 16px auto;
    box-sizing: border-box;
    min-width: 128px;
    max-width: 196px;
}

#pokemonDetailsCardImage {
    margin: auto;
}

#pokemonDetailsCardHeading {
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
    font-size: 16px;
}

td {
    text-align: center;
    font-size: 10px;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
/*  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }*/
  /* Space out the masthead */
/*  .header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
/*  .jumbotron {
    border-bottom: 0;
  }
}*/
